[/var/log/nginx/{{ item.domain }}-access_log]
file = /var/log/nginx/{{ item.domain }}-access_log
log_group_name = /var/log/nginx/access_log
log_stream_name = {{ item.domain }}-access_log_{instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/nginx/{{ item.domain }}-error_log]
file = /var/log/nginx/{{ item.domain }}-error_log
log_group_name = /var/log/nginx/error_log
log_stream_name = {{ item.domain }}-error_log_{instance_id}
datetime_format = %b %d %H:%M:%S
