[/var/log/tomcat8/catalina.out]
file = /var/log/tomcat8/catalina.out
log_group_name = /var/log/tomcat8/catalina.out
log_stream_name = {instance_id}
datetime_format = %d-%b-%Y %H:%M:%S.%f
multi_line_start_pattern = {datetime_format} 
