<VirtualHost *:80>
    ServerName {{ item.domain }}
    DocumentRoot /var/www/{{ item.domain }}/
    SetEnvIf User-Agent "ELB-HealthChecker.*" nolog
    CustomLog logs/{{ item.domain }}-access_log combined-elb env=!nolog
    ErrorLog logs/{{ item.domain }}-error_log
</VirtualHost>
